*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* _____ GLOBAL COLORS _____ */
:root{
    --main_blue: #0061ff;
    --light_nlue_bg: #b4d0e7;
}
/* _____ END GLOBAL COLORS _____ */



/* _______ TYPOGRAPHY  _______ */
h1{
    font-size: 4.25rem;
}
h2{
    font-size: 2.25rem;
}
h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: unset;
    text-transform: capitalize;
    display: inline-block;
}

.small_p{
    font-size: .9rem;
}


.blue_link{
    color: var(--main_blue);
    text-decoration: underline;
}
/* _______ END TYPOGRAPHY  _______ */



/* _______ BUTTONS  _______ */
.btn{
    background-color: var(--main_blue);
    color: white;
    padding: 7px 20px;
    font-weight: 600;
    text-align: center;
}
.big_btn{
    padding: 7px 28px;
}
.btn_white{
    background-color: white;
    border: 1px black solid;
    color: black;
    font-weight: 400;
}
.btn:hover{
    background-color: #5797ff;
    color: white;
    border: transparent;
}
/* _______ END BUTTONS  _______ */



/* _______ COMMON STYLES _______ */
ul{
    list-style: none;
}

nav a:hover{
    text-decoration: underline;
}

.wrapper{
    margin: 2rem 0;
    padding: 0 20px;
}

hr{
    background-color: lightgrey;
    height: 1px;
    border: transparent;
    width: 60px;
}

.logo{
    width: 120px;
}

img{
    max-width: 100%;
}

.witdh_100{
    width: 100%;
}

.col_50{
    width: 50%;
    display: inline-block;
}
.col_30{
    width: calc((100% - 80px) / 3);
}
.col_30_center{
    margin-left: 40px;
    margin-right: 40px;
}
.col_20{
    width: 20%;
}

.align_right{
    text-align: right;
}

.container_big{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
.container_small{
    width: 60%;
    margin: auto;
    max-width: 1000px;
}

.float{
    float: left;
}
/* _______ END COMMON STYLES _______ */




/* _______ COMMON PADDINGS _______ */
.padding_top15{
    padding-top: 15px;
}

.padding_2rem_top_bottom{
    padding: 2rem 0;
}

.padding_3rem{
    padding: 3rem;
}
/* _______ END COMMON PADDINGS _______ */




/* _______ HEADER _______ */
header{
    background-color: white;
    padding: 1rem 2vw;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
}

header *{
    display: inline-block;
    vertical-align: middle;
}

header nav a,
header nav{
    margin: 0 15px;
}
/* _______ END HEADER _______ */



/* _______ MAIN _______ */

/* ------ HERO SECTION ------ */
.hero{
    background-color: var(--light_nlue_bg);
}

.hero .container_big{
    padding-top: 50px;
    position: relative;
    bottom: -90px;
}

.hero .row{
    margin-top: 1.75rem;
}

.hero .col_left{
    width: 30%;
}
.hero .col_right{
    width: 70%;
}

.hero .col_left .btn{
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.hero .col_left i{
    font-size: 2rem;
    margin-top: 2rem;
}

.hero .arrow_down{
    transition: all 300ms ease-in-out;
    display: inline-block;
}
.hero .arrow_down:hover{
    padding-top: 1rem;
}
/* ------ END HERO SECTION ------ */


/* ------ PRICING SECTION ------ */
.pricing{
    margin-top: 100px;
    padding-top: 100px;
    font-size: .9rem;
}
.pricing h2{
    margin-bottom: 2rem;
}
#f_annuale{
    margin-left: 20px;
}

.pricing .offer_category{
    padding: .5rem;
    border-bottom: 1px lightgrey solid;
    text-align: center;
    text-transform: capitalize;
}

.pricing .price{
    font-weight: 600;
}

.pricing .col_30{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    min-height: 850px;
}

.pricing .box{
    border: lightgrey 1px solid;
}

.pricing .wrapper *{
    margin: .45rem 0;
}

.pricing .col_text{
    width: 70%;
}
.pricing .col_button{
    width: 30%;
    text-align: right;
}

.pricing p.features_text{
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

.pricing .wrapper ul i{
    color: var(--main_blue);
}
/* ------ END PRICING SECTION ------ */


/* ------ CTA PARTNER SECTION ------ */
.call_to_action_partner{
    margin: 8rem 0;
}

.call_to_action_partner .col_img{
    width: 55%;
}

.call_to_action_partner .col_text{
    padding-right: 0;
    width: 45%;
}

.call_to_action_partner p{
    margin: 1.25rem 0;
    margin-right: 10px;
}
/* ------ END CTA PARTNER SECTION ------ */


/* ------ DROPBOX BUSINESS SECTION ------ */
.dropbox_business h4{
    margin: .25rem 0 1rem 0; 
    text-align: center;
}

.dropbox_business p{
    font-size: .8rem;
    line-height: 20px;
    text-align: center;
}

.dropbox_business .row{
    margin: 3rem 0 4rem 0;
}
/* ------ END DROPBOX BUSINESS SECTION ------ */


/* ------ TESTIMONIALS SECTION ------ */
.testimonials hr,
.testimonials p{
    margin: 3rem 0;
    max-width: 85%;
}

.testimonials{
    padding-top: 5rem;
}

.testimonials img{
    width: 120px;
    max-width: 70%;
    vertical-align: middle;
}

.testimonials hr{
    background-color: darkgray;
}

.testimonials .col_squares{
    width: 30vw;
    height: 30vw;
}

.testimonials .col_center{
    width: calc(100% - 60vw);
    background-color: #f5f5f5;
    height: 30vw;
    overflow: auto;
}

.testimonials .box{
    height: 15vw;

    text-align: center;
    line-height: 15vw;
    border: 9px rgba(255, 255, 255, 0) solid;

}
.testimonials .box:hover{
    border: 9px rgba(255, 255, 255, 0.50) solid;
}

#box_logo_1{
    background-color: #a2d39b;
}
#box_logo_2{
    background-color: #0093ce;
}
#box_logo_3{
    background-color: #61082b;
}
#box_logo_4{
    background-color: #ff1c1c;
}
#box_logo_5{
    background-color: #d5001f;
}
#box_logo_6{
    background-color: #0d2481;
}
#box_logo_7{
    background-color: #b4d0e7;
}
#box_logo_8{
    background-color: #ffd830;
}
/* ------ END TESTIMONIALS SECTION ------ */


/* ------ CTA DB BUSINESS SECTION ------ */
.CTA_dropbox_business{
    background-color: var(--light_nlue_bg);
    color: #61082b;
    padding: 8rem 0;
}

.CTA_dropbox_business .btn{
    padding-left: 3rem;
    padding-right: 3rem;
    border: transparent;
}
/* ------ END CTA DB BUSINESS SECTION ------ */


/* ------ FAQ SECTION ------ */
.faq_section{
    margin: 7rem 0;
}

.faq_section h4,
.faq_section li{
    padding: 2rem 0;
    border-bottom: 1px lightgrey solid;
}
.faq_section li > p{
    font-weight: 700;
}

.faq_section p{
    display: inline-block;
    width: 80%;
}

.icon_wrapper{
    width: 20%;
    display: inline-block;
    text-align: right;
}

.faq_section i{
    padding-right: 2rem;
    font-size: 1.25rem;
    color: rgb(110, 110, 110);
}

/* drop down hover animation */
.fa-flip-vertical,
.drop_down{
    display: none;
}
.drop_down_activation:hover .arrow_down{
    display: none;
}
.drop_down_activation:hover .fa-flip-vertical,
.drop_down_activation:hover .drop_down{
    display: inline-block;
}

.drop_down{
    padding-top: 1rem;
    color: rgb(77, 77, 77);
}
/* ------ END FAQ SECTION ------ */


/* _______ END MAIN _______ */




/* _______ FOOTER _______ */
footer{
    background-color: black;
    color: white;
}

footer .navigation{
    padding: 5rem 0;
}

footer a{
    font-size: .9rem;
}

footer .col_20{
    padding-left: .5rem;
}

footer h5{
    margin-bottom: 1rem;
}

footer li{
    margin-bottom: .25rem;
}

footer .lenguage_wrapper{
    color: #666666;
}

footer .copyright hr{
    width: 100px;
}

footer .icon_arrow_leanguage_choice{
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
}
/* _______ END FOOTER _______ */