*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* _____ GLOBAL COLORS _____ */
:root{
    --main_blue: #0061ff;
    --light_nlue_bg: #b4d0e7;
}
/* _____ END GLOBAL COLORS _____ */



/* _______ TYPOGRAPHY  _______ */
h1{
    font-size: 4.25rem;

}
h2{
    font-size: 2.25rem;
}

a{
    text-decoration: none;
    color: unset;
    text-transform: capitalize;
}

.small_p{
    font-size: .9rem;
}
/* _______ END TYPOGRAPHY  _______ */



/* _______ COMMON STYLES _______ */
ul{
    list-style: none;
}

.box{
    border: tomato 2px solid;
}

.logo{
    width: 120px;
}

img{
    max-width: 100%;
}

.btn{
    background-color: var(--main_blue);
    color: white;
    padding: 5px 20px;
    display: inline-block;
    font-weight: 600;
}
.big_btn{
    padding: 7px 20px;
}

.col_50{
    width: 50%;
    display: inline-block;
}
.col_30{
    width: calc((100% - 80px) / 3);
}

.align_right{
    text-align: right;
}

.container_big{
    width: 80%;
    margin: auto;
    max-width: 1200px;
}
.container_small{
    width: 60%;
    margin: auto;
    max-width: 1000px;
}

.float{
    float: left;
}
/* _______ END COMMON STYLES _______ */



/* _______ HEADER _______ */
header{
    background-color: white;
    padding: 1rem 2vw;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
}

header *{
    display: inline-block;
    vertical-align: middle;
}

header nav a,
header nav{
    margin: 0 15px;
}
/* _______ END HEADER _______ */



/* _______ MAIN _______ */

/* ------ HERO SECTION ------ */
.hero{
    background-color: var(--light_nlue_bg);
}

.hero .container_big{
    padding-top: 50px;
    position: relative;
    bottom: -90px;
    min-height: 100vh;
}

.hero .row{
    margin-top: 1.75rem;
}

.hero .col_left{
    width: 30%;
}
.hero .col_right{
    width: 70%;
}

.hero .col_left .btn{
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.hero .col_left i{
    font-size: 2rem;
    margin-top: 2rem;
}
/* ------ END HERO SECTION ------ */


/* ------ PRICING ------ */
.pricing{
    margin-top: 200px;
}

.pricing h2{
    margin-bottom: 2rem;
}

.pricing label{
    font-size: .9rem;
}

#f_annuale{
    margin-left: 20px;
}

.pricing .col_30{
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    height: 600px;
}

.pricing .col_center{
    margin-left: 40px;
    margin-right: 40px;
}
/* ------ END PRICING ------ */

/* _______ END MAIN _______ */


.space{
    height: 150vh;
}